button{
    font-family: 'Pretendard-Regular', serif;
}

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 12px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    line-height: 1.2;
    font-weight: 700;
}

.btn:disabled {
    background-color: #BABAC2;
    cursor: url("https://image.payple.kr/onboard/icon/ico_disabled_point.svg") 9 9, auto;
}

.btn.btn_primary {
    background-color: #7852e8 !important;
    color: #fff !important;

}
.btn.btn_white_red{
    background-color: #fff;
    color: #FF3131;
}

.btn.btn_secondary{
    background-color: #F0F0F0;
    color: #1F1F1F;
}

.btn.btn_primary:disabled {
    background-color: #D4C6FF;

}

.btn_wrap {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn_next_prev_wrap{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    .btn{
        font-size: 18px;
        font-weight: 400;
        padding: 8px 14px;
        &:first-child{
            margin-right: 20px;

        }

        span{
            vertical-align: middle;
            color: #fff;
        }
        .ico_right_white{
            margin-left: 9px;
        }
        .ico_left_white{
            margin-right: 9px;
        }
    }
}
.label__design{
    background-color: #F0F0F0;
    width: 210px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    border-radius: 12px;

    > label{
        padding: 20px 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        cursor: pointer;
        background-color: #f0f0f0;
        border: 1px solid #F0F0F0;
        border-radius: inherit;
        &:hover{
            color: #7852E8;
            background-color: #E9E1FF;
            border: 1px solid #7852E8;
        }
    }
}
input:checked + .checked__label{
    color: #7852E8;
    background-color: #E9E1FF;
    border: 1px solid #7852E8;
    .desc_tablet{
        @include tablet-res{
            color: #1f1f1f;
        }
    }
}
.label__design + .label__design{
    margin-left: 40px;
}