/*공통으로 사용되는 css 모음 입니다.*/

/*font*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-family: 'Pretendard-Regular', serif;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}



/*layout*/

.pt-5{
    padding-top: 5px !important;
}

.pt-12{
    padding-top: 12px;
}
.pb-24{
    padding-bottom: 24px !important;
}
.mb-90{
    margin-bottom: 90px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;;
}

.pb-20 {
    padding-bottom: 20px !important;;
}
.pt-48{
    padding-top: 48px !important;
}


.pb-50{
    padding-bottom: 50px !important;
}

.mb-170{
    margin-bottom: 170px !important;
}

/*text_align*/
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

/*width*/
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}




/*validation 관련 */
.validation_area {
    margin-left: 14px;
    visibility: hidden;
    display: none;
}

.validation_area.show {
    visibility: visible;
    display: block !important;
}

.validation {
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    position: relative;
}

.validation:after {
    position: absolute;
    content: '*';
    display: inline-block;
    top: 2px;
    left: -14px;
}

/*img*/
img {
    width: 100%;
    height: auto;
}

/*input*/
.form_label{
    position: relative;
    cursor: pointer;
    &.file_custom{
        .form_control{
            &::file-selector-button{
                display: none;
            }
        }
        .icon_area{
            top: 50%;
            transform: translateY(-50%);
            right: 6px;
            position: absolute;
            display: inline-block;
            background-color:#F0F0F0;
            border-radius: 7px;
            width: 35px;
            height: 33px;
            &:hover{
                background-color: #DDDDE3;
            }
            
            .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

    }
}
.form_control {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 7px;
    padding: 12px;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;

}

.form_control:focus {
    border: 1px solid #7852E8;
    outline: none;
}

.form_control::placeholder {
    font-size: 14px;
    color: #BABAC2;
}

.form_control:disabled {
    border: 1px solid #d2d2d2;
    background-color: #ECECEC;
}

.input__area {
    margin-bottom: 42px;
}



/*a태그*/
a {
    text-decoration: none;
}

/*color*/
.color_primary {
    color: #7852E8;
}

.color_danger {
    color: #FF3131;
}

.border_danger {
    border-color: #ff3131;
}


/*font-weight*/
.font_weight_regular {
    font-weight: 400;
}

.font_weight_bold {
    font-weight: 700;
}

/*position */

.position_absolute {
    position: absolute;
}

.position_relative {
    position: relative;
}

/* radio & checkbox */
.radio_custom_btn, .checkbox_custom_btn {
    cursor: pointer;
}

[type="radio"], [type="checkbox"] {
    appearance: none;
    display: none;
    vertical-align: middle;
}

.ico_radioBox + span {
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
    margin-left: 4px;
}

[type="radio"] + .ico_radioBox {
    background-position: center top;
}

[type="radio"]:checked + .ico_radioBox {
    background-position: center center;
}

[type="radio"]:disabled + .ico_radioBox {
    background-position: center bottom;
}

.ico_checkBox + span {
    cursor: pointer;
    vertical-align: middle;
    font-size: 13px;
}

[type="checkbox"] + .ico_checkBox {
    cursor: pointer;
    background-position: center top;
}

[type="checkbox"]:checked + .ico_checkBox {
    background-position: center -20px;
}
[type="checkbox"]:disabled + .ico_checkBox {
    background-position: center -40px;
}

/*공통 모달*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.4);

    opacity: 0;
    display: none;
    transition: all 0.2s;
    &.date_range{
        backdrop-filter: none;
    }
    &.fade {
        opacity: 1;
    }
    &.show {
        display: block;
    }
}

.modal_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;

    &.modal_xl {
        width: 900px;
        &.modal_checkbox {
            .modal_header {
                margin-bottom: 0;
                @include mo-res{
                    padding: 26px 12px;
                }
                .main_title{
                    @include mo-res{
                        font-size: 18px;
                    }
                }
            }
            .ico_close_btn{
                @include mo-res{
                    top: 20px;
                    right: 15px;
                }
            }
            .modal_body{
                @include mo-res{
                    padding: 20px 12px;
                }
            }
        }
        .modal_header {
            margin-bottom: 20px;
            position: relative;
        }
        .ico_close_btn {
            position: absolute;
            top: 22px;
            right: 20px;
        }
        .modal_title {
            font-size: 20px;
            font-weight: 700;
            @include mo-res{
                font-size: 18px;
            }
        }
        .modal_body {
            overflow-y: auto;
            max-height: calc(80vh - 140px);
            padding: 20px 30px 40px;
            @include mo-res{
                max-height: calc(80vh - 100px);
            }
        }
    }
    &.modal_confirm{
        width: 480px;
        @include mo-res{
            width: 90%;
        }
        .modal_header {
            text-align: right;
            padding: 15px 20px;
        }
        .modal_body {
            padding: 0;

            .title {
                font-size: 20px;
                text-align: center;
                line-height: 28px;
                font-weight: 900;
                @include mo-res{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        .modal_footer {
            text-align: center;
            padding: 26px 0 40px;
            .btn {
                font-size: 18px;
                font-weight: 400;
                padding: 8px 12px;
                width: 80px;
            }
        }
    }
    &.modal_md {
        width: 680px;
        .modal_header {
            display: flex;
            justify-content: space-between;
        }
    }
    &.modal_confirmation {
        width: 680px;
        @include mo-res{
            width: 90%;
        }
        .modal_header {
            display: flex;
            justify-content: space-between;
            @include mo-res{
                padding: 25px 25px 0 25px;
                align-items: center;
            }
            .modal_title {
                @include mo-res{
                    font-size: 18px;
                }
            }
        }
        .confirm_title{
            @include mo-res{
                margin-bottom: 10px;
            }
        }
        .confirm_list{
            @include mo-res{
                flex-direction: column;
                margin-bottom: 32px;
            }
        }
        .modal_body{
            overflow-y: auto;
            padding: 20px 30px 40px;
            max-height: calc(80vh - 100px);
            .confirm_desc{
                .confirm_desc_title{
                    @include mo-res{
                        flex: 0 0 40%;
                    }
                }
            }
        }
    }
    &.modal_sm {
        width: 410px;
        @include mo-res{
            width: 90%;
        }
    }
    &.modal_table{
        width: 90%;
        .modal_header {
            padding: 20px;
            position: relative;
            margin-bottom: 0;
        }
        .ico_close_btn {
            position: absolute;
            top: 14px;
            right: 20px;
        }
        .modal_title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .modal_desc{
            font-size: 14px;
            color: #85858F;
            line-height: 1.3;
        }
        .modal_body {
            overflow-y: auto;
            max-height: calc(80vh - 140px);
            padding: 20px 20px 40px;
            @include mo-res{
                max-height: calc(80vh - 100px);
            }
        }
        .modal_table_title{
            font-size: 15px;
            color: #7852E8;
            font-weight: 700;
            margin-bottom: 14px;
        }
        .modal_footer{
            text-align: right;
            padding: 20px;
            .btn{
                padding: 10px 20px;
            }
        }
        .table_layout{
            width: 100%;
            margin-bottom: 50px;
            .table_row{
                display: flex;
                border-bottom: 1px solid #D2D2D2;
                &.line3{
                    div{
                        &:first-child{
                            flex: 1 1 50%;
                        }
                    }
                }
                &.line3{
                    div{
                       flex: 1 1 50%;
                    }
                }
                &:first-child{
                    border-top: 1px solid #7852E8;
                }
                div{
                    padding: 10px 0;
                    font-size: 13px;
                    flex: 1 1 25%;
                    text-align: center;
                    &:first-child{
                        font-weight: 700;
                        padding-left: 5px;
                        text-align: left;
                    }
                }
            }
        }
    }

    &.modal_date_range{
        .modal_body{
            padding: 0;
            .daterangepicker{
                margin: 0;
                border: transparent;
                position: static;
                font-size: 16px;

                .drp-calendar{
                    max-width: none;
                    &.left{
                        padding: 46px 0 46px 42px;

                    }
                    &.right{
                        padding: 46px 42px 46px 36px;
                    }
                }
                .calendar-table{
                    padding: 0;
                    thead{
                        tr{
                            &:nth-last-child(1){
                               th{
                                   &:first-child{
                                       color: #FF3131;
                                   }
                               }
                            }
                        }
                    }
                    td{
                        color: #C7C7C7;
                    }
                    td,th{
                        width: 50px;
                        height: 43px;
                        font-size: 16px;

                        &.month{
                            font-size: 20px;
                        }
                        &.start-date{
                            border-radius: 6px 0 0 6px;
                            color: #fff;
                            background-color: #7852E8;
                        }

                        &.in-range{
                            background-color: #F0EBFF;
                        }
                        &.end-date{
                            border-radius: 0 6px 6px 0;
                            background-color: #7852E8;
                            color: #fff;
                        }

                    }

                }
                .drp-buttons{
                    display: none;
                }
            }

        }
    }
}

.modal_header {
    padding: 40px 30px 0;
}

.modal_body {
    padding: 40px 30px;
}

.modal_content.alert_modal_content {
    box-shadow: 0 0 20px hsla(0, 0%, 74.9%, 0.2);

    .modal_body {
        .icon {
            margin-bottom: 9px;
        }

        .title {
            font-size: 18px;
            margin-bottom: 12px;
            line-height: 25px;
        }

        .desc {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .modal_footer {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            all: unset;
            width: 50%;
            font-size: 18px;
            cursor: pointer;
            padding: 16px 0;
            text-align: center;

            &:first-child {
                color: #fff;
                background-color: #FF5B5B;
            }

            &:last-child {
                color: #52525B;
                background-color: #DDDDE3;
            }
        }
    }
}

.header{
    &.developer_center{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1000;
        .header__container{
            padding: 0 20px;
            max-width: none;
        }
        .header__navi{
            .text{
                font-size: 16px;
                font-weight: 700;
            }
        }
        .header__logo{
            margin-right: 10px;
        }

    }
}


/*header*/
.header {
    width: 100%;
    height: 54px;
    box-shadow: 0 0 20px hsla(0, 0%, 74.9%, .2);
}

.header .header__container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
}

.header .header__logo {
    width: 70px;
    height: auto;
    font-size: 0;
    line-height:0;
    margin-right: 70px;
}

.header .header__navi {
    display: flex;
    align-items: center;
}

.header .header__navi__link {
    display: flex;
    @include mo-res{
        display: none;
    }
}

.header .header__navi__link li {
    margin-right: 40px;
    color: #28282E;
}

.header .header__navi__link a {
    color: #28282E;
    &:hover{
        color: #28282e;
        text-decoration: none;
    }
}

.header .header__navi__link li:last-child {
    margin-right: 0;
}

.header .header__account_btn {
    width: 32px;
    height: auto;
}

.header .header__account_info {
    display: none;
    right: 0;
    top: 50px;
    padding: 15px;
    border-radius: 12px;
    z-index: 1005;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
    &.show{
        display: block;
    }
}

.header .header__account_info li {
    padding: 12px 0;
    font-size: 15px;
}

.header .header__account_info li:first-child {
    font-size: 12px;
    color: #85858F;
}

.header .header__account_info li:first-child:hover {
    background-color: #fff;
}

.header .header__account_info li:hover {
    background-color: #F0F0F0;
    border-radius: 8px;
}
.header .header__account_info a{
    text-decoration: none;
}
.header .header__account_info span {
    vertical-align: middle;
    margin-left: 6px;
    color: #1f1f1f;
}

/*progressbar*/
.progress_value{
    width: 100%;
    appearance: none;
}
.progress_value::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:4px;
    height: 4px;
    /*box-shadow: inset 3px 3px 10px #ccc;*/
}
.progress_value::-webkit-progress-value {
    border-radius:4px;
    background: #1D976C;
    height: 4px;
    background: linear-gradient(to right, rgba(154,217,253,100%), rgba(120,82,232,100%));

}




.select_box{
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    padding: 15px 12px;
    background-color: #fff;
    border:1px solid #ced4da;
    .icon{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.active{
        .options{
            display: block;
        }
        .icon{
            background-image: url("https://image.payple.kr/onboard/icon/ico_select_arrow_up.png");
        }
    }
    .select_value{
        background-color: #fff;
        color:#BABAC2;
    }
    .options{
        top: 48px;
        left: 0;
        display: none;
        position: absolute;
        width: 100%;
        list-style-type: none;
        margin: 0;
        background-color: #fff;
        border: 1px solid #ccc;

        border-radius: 7px;
        .option{
            padding: 12px 10px;
            font-size: 16px;
            &:hover{
                background-color: #f0f0f0;
            }
        }

    }
}

/*반응형*/
@media all and (max-width: 899.98px) {
    .modal_dialog.modal_xl {
        width: 90%;
    }
}


@media all and (max-width: 479px) {
    .validation {
        font-size: 12px;
    }
}



.mo_show{
    display: none !important;
    @include mo-res{
        display: block !important;
    }
}

.pc_show{
    display: block !important;
    @include mo-res{
        display: none !important;
    }
}

.tablet_show{
    display: block;
    @include tablet-res{
        display: none !important;
    }
}


/*테이블*/
.response_table_area{
    margin: 0 -24px;
    color: #52525b;
    table{
        width: 100%;
        th{
            padding: 11px 10px;
            background-color: #F6F6F6;
            text-align: left;
            color: #52525B;
            font-weight: 500;
            &.check_table{
                text-align: center;
            }
        }
        td{
            border-bottom: 1px solid #F0F0F0;
            padding: 11px 10px;
            &.check_table{
                text-align: center;
            }
            &.empty_data{
                text-align: center;
                padding: 55px 0;
                border-bottom: none;
            }
            &.name_data{
                a{
                    text-decoration: underline;
                    color: #0086F1;
                }
            }
        }
    }
}

//aside
.aside{
    height: 100%;
    background-color:#F6F6F6;
    padding: 60px 20px;
    position: fixed;
    width: 300px;
    top: 56px;
    left: 0;

    .sub_title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .layout{
        margin-bottom: 50px;
        &:nth-last-child(1){
            padding-top: 50px;
            border-top:1px solid #DBDBDB;
        }
        .link_lists{
            .active{
                border-radius: 8px;
                background-color: #F0F0F0;
                .icon{
                    &.ico_key{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_key_active.png");
                    }
                    &.ico_paper_plane{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_paper_plane_active.png");
                    }
                    &.ico_shield_check{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_shield_check_active.png");
                    }
                    &.ico_document_sign{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_document_sign_active.png");
                    }

                    &.ico_book_alt{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_book_alt_active.png");
                    }
                    &.ico_interrogation{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_interrogation_active.png");
                    }
                    &.ico_github{
                        background-image: url("https://image.payple.kr/onboard/icon/ico_github_active.png");
                    }
                }
            }


            .link{
                .icon{
                    margin-right: 10px;
                    padding-left: 10px;
                    margin-left: 10px;
                }
                &:hover{
                    border-radius: 8px;
                    background-color: #F0F0F0;
                    .icon{
                        &.ico_key{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_key_active.png");
                        }
                        &.ico_paper_plane{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_paper_plane_active.png");
                        }
                        &.ico_shield_check{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_shield_check_active.png");
                        }
                        &.ico_document_sign{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_document_sign_active.png");
                        }

                        &.ico_book_alt{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_book_alt_active.png");
                        }
                        &.ico_interrogation{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_interrogation_active.png");
                        }
                        &.ico_github{
                            background-image: url("https://image.payple.kr/onboard/icon/ico_github_active.png");
                        }
                    }
                }
                a{
                    padding: 16px 10px 16px 0px;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    color: #52525B;

                }

            }
        }
    }
}





.input__date{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    i{
        cursor: pointer;
    }

}
